<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
</head>
<body>
<div layout:fragment="customContent">
    <form action="#" th:action="@{/edit}" th:object="${editObject}" method="POST">
        <input type="hidden" th:field="*{id}" />
        <div class="form-group">
            <label for="fld1">Field 1</label>
            <input type="text" class="form-control" id="fld1" placeholder="Field 1 Value" th:field="*{fld1}">
            <span th:if="${#fields.hasErrors('fld1')}" th:errors="*{fld1}">Field 1 Error</span>            
        </div>
        <button type="submit" class="btn btn-primary">Update</button> &nbsp;&nbsp;&nbsp;
        <a href="#" th:href="@{/index}" class="btn btn-warning">Back</a>
    </form>
</div>
</body>
</html>