<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
<head>
    <meta charset="UTF-8">
    <title>List</title>
</head>
<body>
<section layout:fragment="customContent">
    <div class="row">
        <div class="col-md-4 col-md-offset-2">
            <a href="#" th:href="@{/create}" class="btn btn-primary">Create</a>         
        </div>
    </div>    
    <table class="table table-striped">
        <tr>
            <th>#</th>
            <th>Field </th>
            <th>Action</th>
        </tr>
        <tr th:each="obj : ${allObjects}">
            <td th:text="${obj.id}" />
            <td th:text="${obj.fld1}" />
            <td>
                <a th:href="@{/edit/{id}(id = ${obj.id})}" class="btn btn-primary">Edit</a> &nbsp; | &nbsp;
                <a th:href="@{/delete/{id}(id = ${obj.id})}" class="btn btn-danger">Delete</a>
            </td>
        </tr>
    </table>
</section>
</body>
</html>